.bx-plus{
    position: absolute;
    bottom: 4px;
    right: 3px;
    font-size: 1.6rem;
    border-radius: 50%;
    background: rgb(238, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bx-x{
    position: absolute;
    top: 4px;
    right: 3px;
    font-size: 1.2rem;
    border-radius: 50%;
    color: brown;
    background: rgb(238, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-creation,
.variant-template{
    position: relative;
}

.selected-colors {
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-color {
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
}